/* AvecCSS v2.0 - Default theme */
@use "vars/themes/default";
@use "base/theme" with (
  $light: default.$light,
  $dark: default.$dark
);

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
a[role="button"] {
    font-family: var(--sans-font);
}
