// Spinning loader (based on PicoCSS).
// Display it with aria-busy="true".

[aria-busy=true] {
    cursor: progress;
}

a[aria-busy=true],
button[aria-busy=true],
input[type=button][aria-busy=true],
input[type=reset][aria-busy=true],
input[type=submit][aria-busy=true] {
    pointer-events: none;
}

[aria-busy=true]:not(input,select,textarea,html):empty {
    text-align: center;
}
[aria-busy=true]:not(input,select,textarea,html):empty::before {
    margin: auto;
}

[aria-busy=true]:not(input,select,textarea,html):not(:empty)::before {
    margin-right: calc(var(--spacing) * .5);
    margin-left: 0;
    margin-inline-start: 0;
    margin-inline-end: calc(var(--spacing) * .5);
}

[aria-busy=true]:not(input,select,textarea,html)::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.1875em solid currentColor;
    border-radius: 1em;
    border-right-color: transparent;
    content: "";
    // vertical-align: text-bottom;
    vertical-align: -0.125em;
    animation: spinner 1s linear infinite;
    opacity: 0.5; // TODO: variable for this?
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
