blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  border-left: 0.35rem solid var(--border);
  cite {
      font-size: calc(--var(--font-size) * 0.9);
      color: var(--text-light);
      display: block;
      text-align: right;
  }
}
