a, [role="link"] {
  color: var(--accent);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 8;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  //&:visited {
  //  color: inherit;
  //}
  &.plain {
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
  &.b {
    font-weight: bold;
  }
  &.h {
    font-family: var(--heading-font);
  }
  &.text {
    color: var(--text-color);
    text-decoration: none;
  }
}
