a {
  color: var(--accent);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 8;
}
//a:visited {
//  color: inherit;
//}

a:hover {
  text-decoration: none;
}

a.plain {
  text-decoration: none;
  &:hover {
    opacity: .7;
  }
}

a.b {
    font-weight: bold;
}

a.h {
  font-family: var(--heading-font);
}

a.text {
  color: var(--text-color);
  text-decoration: none;
}

