@use "sass:map";
@use "../vars/avec";

$bp: avec.$bp !default;

.textcols {
    @media (min-width: map.get($bp, "sm")) {
        columns: var(--textcol-width-normal) auto;
    }
    &.narrow {
        columns: var(--textcol-width-narrow) auto;
    }
}
