// A container for a hero background image.
// The image must be quite large (~3000px wide) and somewhat dark,
// or you must combine it with a derkening gradient (see below).

.hero {
    // NOTE: Use style attribute or own stylesheet to set background-image.
    //       Depending on the image it may be a good idea to use a
    //       secondary background gradient to ensure darkness, e.g.:
    //       background-image:
    //         linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //         url(/img/hero.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    &.half-height {
        height: 50vh; // or 400px, if the screen is lower than 800px
    }
    &.full-height {
        height: 100vh;
    }
    &.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        > * {
            text-align: center;
        }
    }
}
