// Borrowed from Picnic CSS (https://picnicss.com/), with a few changes.
//
// Assumed HTML structure:
//
// <label for="modal_1" role="button">Show modal</label>
// <div class="modal">
//   <input id="modal_1" type="checkbox" />
//   <label for="modal_1" class="overlay"></label>
//   <article>
//     <header>
//       <h3>Some heading</h3>
//       <label for="modal_1" class="close">&times;</label>
//     </header>
//     ...
//   </article>
// </div>

@use "sass:map";
@use "../vars/avec";

$bp: avec.$bp !default;

.modal {
  text-align: center;

  > input[type=checkbox] {
    display: none;
    // Hide all siblings, but not with display:none
    ~ * {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
    }
  }

  .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0;
    border-radius: 0;
    background: Rgba(17,17,17,.8);
    transition: all .3s;
    z-index: 100;

    &:before,
    &:after {
      display: none;
    }

    // Everything inside the modal other than the checkbox and the overlay
    ~ * {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(.2, .2);
      z-index: 1000;
      transition: all .3s;
      }
    }

  // Modal is shown when the checkbox is checked
  > input:checked {

    ~ * {
      opacity: 1;
      max-height: 100%;
      transition: all .3s;
    }
    ~ .overlay ~ * {
      max-height: 90%;
      overflow: auto;
      transform: translateX(-50%) translateY(-50%) scale(1, 1);
      min-width: 90%;
      @media (min-width: map.get($bp, "sm")) {
        min-width: auto;
      }
      @media (min-width: map.get($bp, "md")) {
        max-width: Min(var(--bp-sm), 70%);
      }
      label.close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
        color: var(--text-light);
        cursor: pointer;
      }
    }
  }
}
