// Very simple, reletively high-contrast color theme

$theme-auto-switch: true !default; // if true, switches to dark mode based on user preference
$dark-mode-antiglare: false !default; // enable to darken images and videos in dark mode

$light-bg: #fff !default;
$light-card-bg: #eee !default;
$light-accent-bg: #f5f5f5 !default;
$light-contrast-bg: #e5e5e5 !default;
$light-text: #1e2740 !default;
$light-text-vivid: black !default;
$light-text-light: #716f8a !default;
$light-text-heading: #1e2740 !default;
$light-border: #c3c7cf !default;
$light-accent: #1e2740 !default;
$light-code: #1e2740 !default;
$light-preformatted: #3e4780 !default;
$light-marked: #f5e595 !default;
$light-disabled: #efefef !default;
$light-info: mediumblue !default;
$light-warning: darkorange !default;
$light-error: firebrick !default;
$light-success: forestgreen !default;
$light-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698),
                   0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024),
                   0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03),
                   0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036),
                   0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302),
                   0.5rem 1rem 6rem rgba(27, 40, 50, 0.06),
                   0 0 0 0.0625rem rgba(27, 40, 50, 0.015);

$dark-bg: #111016 !default;
$dark-card-bg: #000 !default;
$dark-accent-bg: #191821 !default;
$dark-contrast-bg: #222023 !default;
$dark-text: #9e9e9e !default;
$dark-text-vivid: white !default;
$dark-text-light: #888 !default;
$dark-text-heading: #f0f0f0 !default;
$dark-border: #676669 !default;
$dark-accent: #f0f0f0 !default;
$dark-code: #939393 !default;
$dark-preformatted: #ababab !default;
$dark-marked: #039 !default;
$dark-disabled: #111 !default;
$dark-info: lightskyblue !default;
$dark-warning: gold !default;
$dark-error: orangered !default;
$dark-success: springgreen !default;
$dark-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698),
                  0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024),
                  0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03),
                  0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036),
                  0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302),
                  0.5rem 1rem 6rem rgba(0, 0, 0, 0.06),
                  0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
